* {
  font-family: Roboto;
}
header {
  background-color: #fffbf0;
}
.logo {
  width: 291.11px;
  height: 39.27px;
}
.custom-button {
  background-image: linear-gradient(#85a019, #85a019);
  color: white;
}
.custom-button:hover {
  color: white;
}

.hero-title {
  font-size: 60px;
  color: #fabe4c;
  text-transform: uppercase;
}
.hero-title span {
  color: #363958;
}
.hero-pera {
  width: 357px;
}
.jacket-title {
  color: #363958;
  font-size: 48px;
  text-transform: uppercase;
}
footer {
  margin: 100px 0px;
}
